<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>学习情况</title>
	<link rel="stylesheet" href="../../admin-statics/table/bootstrap.css" />
    <link href="../../admin-statics/table/dataTables.bootstrap.css" rel="stylesheet">
    <link href="../../admin-statics/table/dataTables.responsive.css" rel="stylesheet">
    <link href="../../admin-statics/table/sb-admin-2.css" rel="stylesheet">
    <link href="../../admin-statics/table/font-awesome.css" rel="stylesheet" />
    <link href="../../admin-statics/table/style.css" rel="stylesheet" />
    <link href="../../admin-statics/table/style-responsive.css" rel="stylesheet" />
    <link href="../../admin-statics/css/workbench/table.css" rel="stylesheet" >

</head>

<body>
   <div class = "header"><a href="LearningSituation.html">返回</a> 学习情况</div>
           
                    <div class="panel panel-default">
                        <div class="panel-body">
                          
                            <table width="100%" class="table table-striped table-bordered table-hover" id="msg" v-cloak>
                                <thead>
                                    <tr>
                                        <th><center><input type="checkbox"  name="all" id="all"></center></th>
                                        <th v-if="tp == 1">视频名</th>
                                        <th v-if="tp == 2">文档名</th>
										<th>上传人</th>
										<th>上传时间</th>
										<th>学习状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr v-for="message in newMessages">
                                        <td v-if="tp == 1"><center><input type="checkbox"  name="all" id="all" :value="message.videoId"></center></td>
                                        <td v-if="tp == 2"><center><input type="checkbox"  name="all" id="all" :value="message.documentId"></center></td>
                                        <td v-if="tp == 1"><center>{{message.videoTitle}}</center></td>
                                        <td v-if="tp == 2"><center>{{message.documentTitle}}</center></td>
					                    <td><center>{{message.uploadUser}}</center></td>
					                    <td><center>{{message.updateTime}}</center></td>
					                    <td>
					                    <center>
						                    <p v-if="message.already == 1">已学</p>
						                    <p v-else>未学习</p>
						                </center>
					                    </td> 
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                        
                    </div>
           
            <div class="popup_de xycenter">
			<div class="popup_box">
				<span class="popup_close" value="关闭">×</span>
			    <span class="show_msg" id="show_msg"></span>
			    <div class="btn_box">
				    <div class="popup_btn btn-danger" value="确定">确定</div>
					<div class="popup_btn btn_cancel" value="取消">取消</div>
			    </div>
			</div>	
			</div>

    <script type="text/javascript" src="../../admin-statics/js/lib/jquery/1.9.1/jquery.min.js"></script>
	<script src="../../admin-statics/table/js/bootstrap.min.js"></script>
    <script src="../../admin-statics/table/js/metisMenu.min.js"></script>
    <script src="../../admin-statics/table/js/jquery.dataTables.min.js"></script>
    <script src="../../admin-statics/table/js/dataTables.bootstrap.min.js"></script>
    <script src="../../admin-statics/table/js/dataTables.responsive.js"></script>
    <script src="../../admin-statics/table/js/sb-admin-2.js"></script>
    <script src="../../statics/js/vue.js"></script>
    <script src="../../admin-statics/js/module/learning.js"> </script>

</body>
</html>