<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="activity" id="activity">
        	<div class="activity-title">
        		<p>{{datas.name}}</p>
        	</div>
        	<div class="activity-content" id="details">       		
        	</div>
        	<div class="activity-matter">
        		<p>
        			<span>举办时间：{{datas.activityStart}} 至 {{datas.activityEnd}}</span>
        			<span>活动地址：{{datas.address}}</span><br /><br />
        			<span>活动人数：{{datas.num}}</span>
        			<span>发布单位：{{datas.unit}}</span>
        			<span>已报名人数：{{datas.alreadyJoinNum}}</span>
        		</p>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/activity.css" />
       	<script type="text/javascript" src="../statics/js/user/activity.js"></script>
	</body>
</html>
