<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="activity-list" id="activity-list">
        	<div class="list-header">
        		<p class="list-title">活动报名</p>
        	</div>
        	
        	<div class="list-content">
        		<table class="list-table">
					<tr>
                        <td class="activity-title">
                        	<p title="第一次活动">第一次活动</p>
                        </td>
                        <td style="text-align: right;">
                        	<a class="info-btn" href="home.html?location=activity&id=1">查看详情</a>
                        	<a class="sign-btn">报名</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="activity-title">
                        	<p title="第一次活动">第一次活动</p>
                        </td>
                        <td style="text-align: right;">
                        	<a class="info-btn" href="#">查看详情</a>
                        	<a class="sign-btn">报名</a>
                        </td>
                    </tr>
				</table>
        	</div>
        	
        	<aside class="sign-up" id="asign-up" style="display: none;">
        		<table class="activity-table">
        			<tr>
        				<td class="event-name">活动名称：</td>
        				<td>第一次活动第一次活动第一次</td>
        			</tr>
        			<tr>
        				<td>举办时间：</td>
        				<td>2018-10-01 00:00 至</td>
        			</tr>
        			<tr>
        				<td>&nbsp;</td>
        				<td>2018-10-20 00：00</td>
        			</tr>
        			<tr>
        				<td>活动地址：</td>
        				<td>陈进雄</td>
        			</tr>
        			<tr>
        				<td>报名人：</td>
        				<td>陈进雄</td>
        			</tr>
        			<tr>
        				<td>联系方式：</td>
        				<td>
        					<input type="text" id="phone" placeholder="手机号码*" />
        				</td>
        			</tr>
        			<tr>
        				<td colspan="2">
        					<button class="sure-btn" id="sure-sign">确认报名</button>
        					<button class="sure-btn" id="cancal">取消</button>
        				</td>
        			</tr>
        		</table>
        	</aside>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/activityList.css" />
       	<script type="text/javascript" src="../statics/js/activityList.js" ></script>
	</body>
</html>
