<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="activity">
        	<div class="activity-title">
        		<p>第一次活动</p>
        	</div>
        	<div class="activity-content">
        		<p>
        			部厅文件表示，教育部在今年1月启动开展2018年度全国高校创新创业总结宣传工作。经过推荐申报、专家初选、社会调查和实地调研等环节，推选产生了2018年度50所全国创新创业典型经验高校。其中，中央部门所属高等学校9所，分别为北京化工大学、中国农业大学、东北大学、东华大学、南京航空航天大学、合肥工业大学、华中科技大学、华中师范大学、华南理工大学；省属本科高等学校33所，分别为北京联合大学、天津商业大学、内蒙古大学、沈阳工程学院、大连艺术学院、吉林动画学院、东北农业大学、扬州大学、浙江理工大学、浙江工商大学、合肥学院、安徽科技学院、三明学院、南昌大学、景德镇陶瓷大学、江西师范大学、山东科技大学、曲阜师范大学、山东英才学院、郑州大学、周口师范学院、南阳理工学院、湖北工业大学、武汉工商学院、湖南农业大学、南华大学、肇庆学院、重庆邮电大学、重庆科技学院、成都理工大学、云南大学滇池学院、西京学院、青海大学；高职高专院校8所，分别为河北工业职业技术学院、邢台职业技术学院、南京工业职业技术学院、杭州职业技术学院、东营职业学院、河南职业技术学院、广西职业技术学院、贵州轻工职业技术学院。
        		</p>
        	</div>
        	<div class="activity-matter">
        		<p>
        			<span>举办时间：2018-10-01 00:00 至 2018-10-20 00:00</span>
        			<span>活动地址：中巴206</span><br /><br />
        			<span>活动人数：1000</span>
        			<span>发布单位：软件2班</span>
        			<span>负责人：陈进雄</span>
        		</p>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/activity.css" />
	</body>
</html>
