<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="learn">
        	<div class="learn-lable">
        		<h2>我的收藏</h2>
        	</div>
        	<div class="data-list">
        		<ul>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf">gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        		</ul>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/collection.css" />
	</body>
</html>
