<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../statics/css/document.css" />
	</head>
	<body>
		<div class="document" id="document">
        	<div class="document-title">
        		<p>{{document.documentTitle}}</p>
        	</div>
        	<div class="document-content" v-html="document.documentIntroduction">
        	</div>
        	<div class="document-matter">
        		<a :href="document.filePath" @click="sendidtoserver(r.documentId)">下载链接>></a>
        	</div>
        	<div id="" style="float: right;">
        		<button v-if="state == 1" type="button" disabled="true">已学习</button>
        		<button v-else type="button" @click="learned()">学习后请点击</button>
        	</div>
       	</div>
       	
       
       	<script type="text/javascript" src="../statics/js/user/document.js" ></script>
	</body>
</html>
