<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../statics/css/document.css" />
	</head>
	<body>
		<div class="document" id="document">
        	<div class="document-title">
        		<p>{{document.documentTitle}}</p>
        	</div>
        	<div class="document-content">
        		<p>
        		  {{document.documentIntroduction}}
        		</p>
        	</div>
        	<div class="document-matter">
        		<a :href="document.filePath">下载链接>></a>
        	</div>
       	</div>
       	
       
       	<script type="text/javascript" src="../statics/js/user/document.js" ></script>
	</body>
</html>
