<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>考试系统</title>
	</head>
	<body>
		<div class="test-info" id="examinfo">
			<div class="warning-info">
				<p><strong>注意事项：</strong></p>
				<p>刷新将重新生成试卷</p>
				<p>中途退出次张考试无效</p>
				<p>时间一到即自动交卷</p>
				<p>在规定日期内可多次考试，</p>
				<p>最终只取最高分</p>
			</div>
			<div class="during-info">
				<table class="info-table">
					<tr>
						<td colspan="2" class="test-name">{{info.examTitle}}</td>
					</tr>
					<tr>
						<td>开始时间：</td>
						<td>{{info.startTime}}</td>
					</tr>
					<tr>
						<td>截止时间：</td>
						<td>{{info.endTime}}</td>
					</tr>
					<tr>
						<td>考试时长：</td>
						<td>{{info.examPeriod}}分钟</td>
					</tr>
					<tr>
						<td>题目：</td>
						<td>单选{{info.singleQuantity}}道，每道1分；多选{{info.multipleQuantity}}道，每道2分</td>
					</tr>
					<tr>
						<td>及格分数：</td>
						<td>{{info.passScore}}</td>
					</tr>
					<tr v-if="info.pass==-1">
						<td>目前分数：</td>
						<td>无</td>
					</tr>
					<tr v-else>
                        <td>目前分数：</td>
                        <td>{{info.score}}</td>
                    </tr>
				</table>
				<button class="test-btn" v-if="info.status==1" @click="GotoExam(info.examId)">进入考试</button>
				<button class="test-btn" v-else style="background-color: #ccc" disabled="disabled">进入考试</button>
			</div>
		</div>

		<link rel="stylesheet" href="../statics/css/testInfo.css" />
		<script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="../statics/js/vue.js" ></script>
        <script type="text/javascript" src="../statics/js/user/examInfo.js" ></script>
	</body>
</html>
