<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="learn">
        	<div class="learn-lable">
        		<h2>学习资料</h2>
        	</div>
        	<div class="lable-list">
        		<table>
        			<tr>
        				<td class="table-lable"><span>要求：</span></td>
        				<td>
        					<ul class="dowebok">
        						<li><input type="radio" name="radio1" value="全部" data-labelauty="全部"></li>
								<li><input type="radio" name="radio1" value="必须学习" data-labelauty="必须学习"></li>
								<li><input type="radio" name="radio1" value="选择学习" data-labelauty="选择学习"></li>
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>标签：</span></td>
        				<td colspan="2">
        					<ul class="dowebok">
        						<li><input type="checkbox" name="checkbox" value="全部" data-labelauty="全部"></li>
								<li><input type="checkbox" name="checkbox" value="1标签" data-labelauty="1标签"></li>
								<li><input type="checkbox" name="checkbox" value="2标签" data-labelauty="2标签"></li>
								<li><input type="checkbox" name="checkbox" value="3标签" data-labelauty="3标签"></li>
								<li><input type="checkbox" name="checkbox" value="4标签" data-labelauty="4标签"></li>
								<li><input type="checkbox" name="checkbox" value="5标签" data-labelauty="5标签"></li>
								<li><input type="checkbox" name="checkbox" value="6标签" data-labelauty="6标签"></li>
								<li><input type="checkbox" name="checkbox" value="1标签" data-labelauty="1标签"></li>
								<li><input type="checkbox" name="checkbox" value="2标签" data-labelauty="2标签"></li>
								<li><input type="checkbox" name="checkbox" value="3标签" data-labelauty="3标签"></li>
								<li><input type="checkbox" name="checkbox" value="4标签" data-labelauty="4标签"></li>
								<li><input type="checkbox" name="checkbox" value="5标签" data-labelauty="5标签"></li>
								<li><input type="checkbox" name="checkbox" value="6标签" data-labelauty="6标签"></li>
								<li><input type="checkbox" name="checkbox" value="1标签" data-labelauty="1标签"></li>
								<li><input type="checkbox" name="checkbox" value="2标签" data-labelauty="2标签"></li>
								<li><input type="checkbox" name="checkbox" value="3标签" data-labelauty="3标签"></li>
								<li><input type="checkbox" name="checkbox" value="4标签" data-labelauty="4标签"></li>
								<li><input type="checkbox" name="checkbox" value="5标签" data-labelauty="5标签"></li>
								<li><input type="checkbox" name="checkbox" value="6标签" data-labelauty="6标签"></li>
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>类型：</span></td>
        				<td>
        					<ul class="dowebok">
        						<li><input type="radio" name="radio" value="全部" data-labelauty="全部"></li>
								<li><input type="radio" name="radio" value="视频学习" data-labelauty="视频学习"></li>
								<li><input type="radio" name="radio" value="资料学习" data-labelauty="资料学习"></li>
							</ul>
        				</td>
        				<td class="search-td">
        					<a id="learn-search">搜索>></a>
        				</td>
        			</tr>
        		</table>
        	</div>
        	<div class="data-list">
        		<ul>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf">gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        		</ul>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/learn.css" />
       	<link rel="stylesheet" href="../statics/css/jquery-labelauty.css" />
       	<script type="text/javascript" src="../statics/js/jquery-labelauty.js" ></script>
       	<script type="text/javascript" src="../statics/js/user/learn.js" ></script>
	</body>
</html>
