<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="learn">
        	<div class="learn-lable">
        		<h2>学习资料</h2>
        	</div>
        	<div class="lable-list" id="lable-list">
        		<table>
        			<tr>
        				<td class="table-lable"><span>要求：</span></td>
        				<td>
        					<ul class="dowebok">
        						<li><input type="radio" name="radio1" value="0" data-labelauty="全部"></li>
								<li><input type="radio" name="radio1" value="1" data-labelauty="必须学习"></li>
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>标签：</span></td>
        				<td colspan="2">
        					<ul class="dowebok">
        						<li><input type="checkbox" name="checkbox" value="0" data-labelauty="全部"></li>
								<li v-for="r in learn"><input type="checkbox" name="checkbox" :value="r.labelId" :data-labelauty="r.labelName"></li>								
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>类型：</span></td>
        				<td>
        					<ul class="dowebok">
								<li><input type="radio" name="radio" value="1" data-labelauty="视频学习"></li>
								<li><input type="radio" name="radio" value="2" data-labelauty="资料学习"></li>
							</ul>
        				</td>
        				<td class="search-td">
        					<a id="learn-search">搜索>></a>
        				</td>
        			</tr>
        		</table>
        	</div>
        	<div class="data-list">
        		<ul>
        			<li>
        				<a href="home.html?location=video&id=1">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf">gghdfsdhfjsdbjfkbdsjkfjsdhlfjdslflksdjlfhldsnvlnxlnslfndfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="home.html?location=docu&id=2">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<div class="data-img" style="background-image: url(../statics/img/6.jpg);"></div>
        					<p class="data-des" title="gghdfsdfsf">gghdfsdfsf</p>
        				</a>
        			</li>
        		</ul>
        		<div class="learn-page">
        			<button>首页</button>
        			<button>上一页</button>
        			<p style="display: inline;">
        				<span id="nowpage">1</span>/
        				<span id="pagenum">25</span>
        			</p>
        			<button>下一页</button>
        			<button>尾页</button>
        			<button>转到</button>
        			<input type="text"/>
        		</div>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/learn.css" />
       	<link rel="stylesheet" href="../statics/css/jquery-labelauty.css" />
       	<script type="text/javascript" src="../statics/js/jquery-labelauty.js" ></script>
       	<script type="text/javascript" src="../statics/js/user/learn.js" ></script>
	</body>
</html>
