<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="learn">
        	<div class="learn-lable">
        		<h2>学习资料</h2>
        	</div>
        	<div class="lable-list" id="lable-list">
        		<table>
        			<tr>
        				<td class="table-lable"><span>要求：</span></td>
        				<td>
        					<ul class="dowebok">
        						<li><input type="radio" name="radio1" value="0" data-labelauty="全部"></li>
								<li><input type="radio" name="radio1" value="1" data-labelauty="必须学习"></li>
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>标签：</span></td>
        				<td colspan="2">
        					<ul class="dowebok">
        						<li><input type="checkbox" name="checkbox" value="0" data-labelauty="全部"></li>
								<li v-for="r in learn"><input type="checkbox" name="checkbox" :value="r.labelId" :data-labelauty="r.labelName"></li>								
							</ul>
        				</td>
        			</tr>
        			<tr>
        				<td class="table-lable"><span>类型：</span></td>
        				<td>
        					<ul class="dowebok">
								<li><input type="radio" name="radio" value="1" data-labelauty="视频学习"></li>
								<li><input type="radio" name="radio" value="2" data-labelauty="资料学习"></li>
							</ul>
        				</td>
        				<td class="search-td">
        					<a id="learn-search">搜索>></a>
        				</td>
        			</tr>
        		</table>
        	</div>
        	<div class="data-list" id="data">
        		<ul v-if="studyflag==1">
        			<li v-for="r in list">
        				<a :href="'home.html?location=video&id='+r.videoId">
        					<div class="data-img" :style="'background-image: url('+r.coverImg+');'"></div>
        					<p class="data-des" :title="r.videoTitle">{{r.videoTitle}}</p>
        				</a>
        			</li>      			
        		</ul>
        		<ul v-if="studyflag==2">
                    <li v-for="r in list">
                        <a :href="'home.html?location=docu&id='+r.documentId">
                            <div class="data-img" :style="'background-image: url('+r.coverImg+');'"></div>
                            <p class="data-des" :title="r.documentTitle">{{r.documentTitle}}</p>
                        </a>
                    </li>               
                </ul>
        		<div class="learn-page">
        			<button @click="pageto(1)">首页</button>
                    <button v-if="currentNum!=1" @click="pageto(currentNum-1)">上一页</button>
        			<p style="display: inline;">
        				<span id="nowpage">{{currentNum}}</span>/
        				<span id="pagenum">{{totalPage}}</span>
        			</p>
        			<button v-if="currentNum!=totalPage" @click="pageto(currentNum+1)">下一页</button>
                    <button @click="pageto(totalPage)">尾页</button>
                    <button @click="pageto(pagetoNum)">转到</button>
                    <input type="text" id="aimspage" v-model="pagetoNum"/>
        		</div>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/learn.css" />
       	<link rel="stylesheet" href="../statics/css/jquery-labelauty.css" />
       	<script type="text/javascript" src="../statics/js/jquery-labelauty.js" ></script>
       	<script src="../statics/js/vue.js"></script>
       	<script type="text/javascript" src="../statics/js/user/learn.js" ></script>
	</body>
</html>
