<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>门户-会议列表</title>
    <link rel="stylesheet/less" href="../statics/less/meetingList.less" />
</head>

<body>
    <div class="content">
        <!-- 左侧菜单 -->
        <ul class="meeting-menu">
            <li role="presentation" class="meeting-item">
                <strong>会议列表</strong>
            </li>
        </ul>

        <!-- 右侧内容 -->
        <div class="tab-content" id="app">
            <div role="tabpanel" class="tab-pane active" id="meeting">
                <!-- <ol class="breadcrumb" id="breadcrumb">
                    <li>三会一课</li>
                    <li>会议列表</li>
                </ol> -->
                <div class="tbody_con" id="tbodyCon">
                    <ul class="mod-list" v-if="content&&content.length">
                        <li v-for="it in content">
                            <div class="mixin">
                                <a :href="'home.html?location=meeting&id='+it.id" class="mixin_img">
                                    <!-- if:封面图为null 显示默认图片 -->
                                    <img src="../statics/img/flag.png">
                                </a>
                                <div class="mixin_txt">
                                    <h3 class="mixin_title">
                                        <a :href="'home.html?location=meeting&id='+it.id" :title="it.title">{{it.title}}</a>
                                    </h3>
                                    <!-- <p class="mixin_summary"></p> -->
                                    <p class="mixin_date">发布时间：{{it.date}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content-empty" v-else>
                        <i class="iconfont icon-wushuju1 empty-icon"></i>
                        <span class="empty-tip"> 无相关数据 </span>
                    </div>
                    <div id="pagination"></div>
                </div>
            </div>
        	<div class="list-footer" style="margin-top: 20px;margin-left: 70px;">
        		<div class="page">
        			<button class="btn btn-info" @click="pageto(1)">首页</button>
        			<button class="btn btn-info" v-if="pagenow!=1" @click="pageto(pagenow-1)">上一页</button>
        			<p style="display: inline;">
        				<span id="nowpage">{{pagenow}}</span>/
        				<span id="pagenum">{{totalpage}}</span>
        			</p>
        			<button class="btn btn-info" v-if="pagenow!=totalpage" @click="pageto(pagenow+1)">下一页</button>
        			<button class="btn btn-info" @click="pageto(totalpage)">尾页</button>
        			<button class="btn btn-success" @click="pageto(pagetoNum)">转到</button>
        			<input type="text" id="aimspage" v-model="pagetoNum"/>
        		</div>
        	</div>
        </div>
    </div>
    <script type="text/javascript" src="../statics/js/vue.js"></script>
    <script type="text/javascript" src="../statics/js/less.min.js"></script>
    <script type="text/javascript" src="../statics/js/user/meetingList.js"></script>
</body>

</html>