<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="meeting-list">
        	<div class="ml-header">
        		<div class="title">
        			<h2>会议列表</h2>
        		</div>
        	</div>
        	<div class="conduct">
        		<fieldset>
        			<legend>正在进行的会议</legend>
        			<img src="../statics/img/会议简介.png"/>
        		</fieldset>
        	</div>
        	<div class="history">
        		<fieldset>
        			<legend>历史会议</legend>
        			身高：<input type="text" />
    				体重：<input type="text" />
        		</fieldset>
        	</div>
       	</div>
       	
	</body>
</html>
