<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>门户-会议详情</title>
<link rel="stylesheet/less" href="../statics/less/meetingInfo.less" />
<link rel="stylesheet" href="../statics/css/video-js.min.css" type="text/css">
</head>

<body>
    <header class="meeting-header">
        <h4 class="meeting-header-path">
            <a href="home.html?location=meeting">三会一课</a> > 会议详情 </h4>
    </header>
    <div id="app">
    <h3 class="meeting-title">{{content.title}}</h3>
    <article class="meeting-overview">
        <section class="meeting-overview-left">
            <!-- 视频 -->
            <section class="vedio-box">
                <!-- v-if 视频为null，显示空状态 -->
                 <div class="vedio-empty" v-if="content.video == null">
                    <i class="iconfont icon-shipin"></i>
                    <span class="empty-tip"> 未上传视频 </span>
                </div> 
                <!-- v-else -->
                <div class="vedio" v-else>
                    <video v-if="content.coverpath != null" :poster="content.coverpath" id="my-video" class="video-js" controls preload="auto" width="100%" data-setup="{}">
                        <source :src="content.video" type="video/mp4">
                    </video>
                </div>
            </section>
        </section>
        <!-- 相关附件 -->
        <section class="meeting-overview-right">
            <div class="right-header">
                <span class="right-header-title">相关附件</span>
            </div>
            <div class="right-content">
                <!-- v-if === null，显示空状态 -->
                 <div class="content-empty" v-show="">
                        <i class="iconfont icon-wushuju1 empty-icon"></i>
                        <span class="empty-tip"> 无相关数据 </span>
                    </div> 
                <!-- v-else -->
                <!--<ul class="ul-box">
                    <li class="li-item" title="点击可下载">
                        <span class="item-text" title="习近平总书记新年祝福语语录">习近平总书记新年祝福语语录</span>
                        <span class="item-time">2018-01-01 12:02</span>
                    </li>
                    <li class="li-item" title="点击可下载">
                        <span class="item-text" title="习近平总书记新年祝福语语录">习近平总书记新年祝福语语录</span>
                        <span class="item-time">2018-01-01 12:02</span>
                    </li>
                </ul>-->
            </div>
        </section>
    </article>
    <footer class="meeting-detail">
        <section class="meeting-detail-left">
            <h3 class="left-title">
                <strong>会议详情</strong>
            </h3>
            <div class="left-content">
                <!-- v-if === null，显示空状态 -->
                <!--<div class="content-empty" v-if="content.coverpath == null">
                    <i class="iconfont icon-wushuju1 empty-icon"></i>
                    <span class="empty-tip"> 无封面数据 </span>
                </div>-->
                <!-- v-else -->
                 <!--<div class="cover-img" v-else>
                      <img :src="content.coverpath">
                  </div> -->
                <div class="content-desc">
                    <!-- 内容 -->
                    <div v-html="content.content">
                    	
                    </div>
                </div>
            </div>
        </section>
        <section class="meeting-detail-right">
            <h3 class="right-title">
                <strong>作者信息</strong>
            </h3>
            <div class="meeting-detail-author">
                <!-- 当头像地址为null时为默认头像 -->
                <div class="img-box">
                    <img class="author-img" :src="content.headImg" />
                    <!--<i class="author-img iconfont icon-dangwugongkai"></i>-->
                </div>
                <div class="info-box">
                    <span class="author-intro" title="姓名">{{content.creatorName}}</span>
                    <span class="author-intro" title="所属党支部">{{content.branchName}}</span>
                    <span class="author-intro" title="发布时间">{{content.date}}</span>
                </div>
            </div>
        </section>
    </footer>
    </div>

    <script type="text/javascript" src="../statics/js/vue.js"></script>
    <script type="text/javascript" src="../statics/js/less.min.js"></script>
    <script type="text/javascript" src="../statics/js/video.js"></script>
    <script type="text/javascript" src="../statics/js/user/meetingInfo.js" ></script>
</body>

</html>