<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../statics/css/meetingList.css" />
	</head>
	<body>
		<div class="meeting-list">
        	<div class="ml-header">
        		<div class="title">
        			<h2>会议列表</h2>
        		</div>
        	</div>
        	<div class="conduct">
        		<fieldset>
        			<legend>正在进行的会议</legend>
        			<a href="#" >
        				<img class="meetingpic" src="../statics/img/meeting.png"/>
        				<span id="conduct-name">2018年纪律教育学习活动月学习及动员会议</span>
        			</a>
        		</fieldset>
        	</div>
        	<div class="history">
        		<fieldset>
        			<legend>历史会议</legend>
        			<table class="list-table">
						<tr>
							<td class="meeting-title"><a href="#" target="_blank"><p title="2018-2019学年第一学期党建工作会议">2018-2019学年第一学期党建工作会议</p></a></td>
							<td class="meeting-time">07-17</td>
						</tr>
						<tr>
							<td class="meeting-title"><a href="#" target="_blank"><p title="学生党支部“学习十九大精神”会议">学生党支部“学习十九大精神”会议</p></a></td>
							<td class="meeting-time">07-17</td>
						</tr>
						<tr>
							<td class="meeting-title"><a href="#" target="_blank"><p title="“两学一做”支部风采展示活动之学习型服务型创新型基层党支部培育建设会议">“两学一做”支部风采展示活动之学习型服务型创新型基层党支部培育建设会议</p></a></td>
							<td class="meeting-time">07-17</td>
						</tr>					
					</table>
        		</fieldset>
        	</div>
       	</div>
       	
       	
	</body>
</html>
