<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="personinfo" id="personInfo">
        	<div class="info-header">
        		<div class="title">
        			<h3>个人信息</h3>
        		</div>
        	</div>
        	<table class="personal-table">
				<tr>
					<td><span>学号：</span></td>
					<td><span>201524133230</span></td>
					<td><span>姓名：</span></td>
					<td><span>陈进雄</span></td>
					<td rowspan="5" class="head-img">
						<img src="../statics/img/3.jpg" />
					</td>
				</tr>
				<tr>
					<td><span>性别：</span></td>
					<td><span>女</span></td>
					<td><span>所属年级：</span></td>
					<td><span>2015级</span></td>
				</tr>
				<tr>
					<td><span>所属班级：</span></td>
					<td><span>软件二班</span></td>
					<td><span>生日：</span></td>
					<td><span>00-00</span></td>
				</tr>
				<tr>
					<td><span>邮箱：</span></td>
					<td>
						<input type="email" id="email" value="123@qq.com" />
					</td>
					<td><span>手机号码：</span></td>
					<td>
						<input type="text" id="phonenum" value="12345678910" />
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p>个人简介</p>
						<textarea wrap="hard" rows="5" cols="80">hhhhhh</textarea>
					</td>
				</tr>
			</table>
			
			<div class="info-header">
        		<div class="title">
        			<h3>党内信息</h3>
        		</div>
        	</div>
        	<table class="party-table">
				<tr>
					<td class="table-matter"><span>曾用名：</span></td>
					<td><span>陈入雄</span></td>
					<td class="table-matter"><span>所属党支部：</span></td>
					<td><span>计算机学院党支部</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>民族：</span></td>
					<td><span>汉族</span></td>
					<td class="table-matter"><span>籍贯：</span></td>
					<td><span>广东肇庆</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>出生地：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>户口所在地：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>家庭住址：</span></td>
					<td><span>哇嘎乃哇嘎乃哇嘎乃哇嘎乃哇嘎乃哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>家庭出身：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>婚姻状态：</span></td>
					<td><span>未婚</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>身份证：</span></td>
					<td><span>110236022504896577</span></td>
					<td class="table-matter"><span>学历：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>专业：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>组织所在单位：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>个人身份：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>毕业院校：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>发展类型：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>提交入党申请书时间：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>入党时间：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>转正时间：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>转出组织单位：</span></td>
					<td><span>哇嘎乃</span></td>
					<td class="table-matter"><span>组织所在单位：</span></td>
					<td><span>哇嘎乃</span></td>
				</tr>
			</table>
			
			<div class="save-btn">
				<button id="save-btn">保存</button>
			</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/personal.css" />
       	<script type="text/javascript" src="../statics/js/user/personal.js"></script>
	</body>
</html>
