<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="personinfo" id="personinfo">
        	<div class="info-header">
        		<div class="title">
        			<h3>个人信息</h3>
        		</div>
        	</div>
        	<table class="personal-table">
				<tr>
					<td><span>学号：</span></td>
					<td><span>{{personinfo.userId}}</span></td>
					<td><span>姓名：</span></td>
					<td><span>{{personinfo.name}}</span></td>
					<td rowspan="5" class="head-img">
						<img src="../statics/img/3.jpg" />
					</td>
				</tr>
				<tr>
					<td><span>性别：</span></td>
					<td><span>{{personinfo.sex}}</span></td>
					<td><span>所属年级：</span></td>
					<td><span>{{personinfo.grade}}级</span></td>
				</tr>
				<tr>
					<td><span>所属班级：</span></td>
					<td><span>{{personinfo.className}}</span></td>
					<td><span>生日：</span></td>
					<td><span>{{personinfo.birthday}}</span></td>
				</tr>
				<tr>
					<td><span>邮箱：</span></td>
					<td>
						<input type="email" id="email" :value="personinfo.email" />
					</td>					
				</tr>
				<tr>
					<td colspan="4">
						<p>个人简介</p>
						<textarea wrap="hard" rows="5" cols="80" id="profile">{{personinfo.profile}}</textarea>
					</td>
				</tr>
			</table>
			
			<div class="info-header">
        		<div class="title">
        			<h3>党内信息</h3>
        		</div>
        	</div>
        	<table class="party-table">
				<tr>
					<td class="table-matter"><span>曾用名：</span></td>
					<td v-if="partyinfo.nameFormer!=''"><span>{{partyinfo.nameFormer}}</span></td>
					<td v-else><span>无</span></td>
					<td class="table-matter"><span>所属党支部：</span></td>
					<td v-if="partyinfo.branchId==1"><span>软件工程专业党支部</span></td>
					<td v-else-if="partyinfo.branchId==2"><span>计算机科学与技术专业党支部</span></td>
					<td v-else-if="partyinfo.branchId==3"><span>网络工程专业党支部</span></td>
					<td v-else-if="partyinfo.branchId==4"><span>物联网工程专业党支部</span></td>
					<td v-else-if="partyinfo.branchId==5"><span>数据科学与大数据技术专业党支部</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>民族：</span></td>
					<td><span>{{partyinfo.national}}</span></td>
					<td class="table-matter"><span>籍贯：</span></td>
					<td><span>{{partyinfo.nativePlace}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>出生地：</span></td>
					<td><span>{{partyinfo.birthPlace}}</span></td>
					<td class="table-matter"><span>户口所在地：</span></td>
					<td><span>{{partyinfo.placeRegistered}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>家庭住址：</span></td>
					<td><span>{{partyinfo.homeAddress}}</span></td>
					<td class="table-matter"><span>手机号码：</span></td>
                    <td>
                        <span>{{partyinfo.tel}}</span>
                    </td>
				</tr>
				<tr>
					<td class="table-matter"><span>家庭背景：</span></td>
					<td><span>{{partyinfo.familyBackground}}</span></td>
					<td class="table-matter"><span>婚姻状态：</span></td>
					<td><span>{{partyinfo.maritalStatus}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>身份证：</span></td>
					<td><span>{{partyinfo.idCard}}</span></td>
					<td class="table-matter"><span>学历：</span></td>
					<td><span>{{partyinfo.educationalBackground}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>专业：</span></td>
					<td><span>{{partyinfo.professional}}</span></td>
					<td class="table-matter"><span>组织所在单位：</span></td>
					<td><span>{{partyinfo.organizationUnit}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>个人身份：</span></td>
					<td><span>{{partyinfo.personalIdentity}}</span></td>
					<td class="table-matter"><span>毕业院校：</span></td>
					<td><span>{{partyinfo.graduateSchool}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>发展类型：</span></td>
					<td><span>{{partyinfo.typeDevelopment}}</span></td>
					<td class="table-matter"><span>提交入党申请书时间：</span></td>
					<td><span>{{partyinfo.timeApplicationforparty}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>入党时间：</span></td>
					<td><span>{{partyinfo.timeIntoparty}}</span></td>
					<td class="table-matter"><span>转正时间：</span></td>
					<td><span>{{partyinfo.timePositive}}</span></td>
				</tr>
				<tr>
					<td class="table-matter"><span>转出组织单位：</span></td>
					<td><span>{{partyinfo.totot}}</span></td>
					<td class="table-matter"><span>转出单位：</span></td>
					<td><span>{{partyinfo.outUnit}}</span></td>
				</tr>
			</table>
			
			<div class="save-btn">
				<button id="save-btn">保存</button>
			</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/personal.css" />
       	<script type="text/javascript" src="../statics/js/user/personal.js"></script>
	</body>
</html>
