<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="publicity">
        	<div class="publicity-header">
        		<div class="title">
        			<h2>网评论：有师生的关心支持，就有省运的圆满成功</h2>
        		</div>
        		<div class="matter">
        			<p>
        				<span>编辑：陈进雄</span>
        				<span>发布时间：2018年7月20日</span>
        			</p>
        		</div>
        	</div>
        	<div class="publicity-content">
        		<div class="details">
        			<p>
        				竞技组男子足球比赛在第一运动场激战正酣，学校体育组排球比赛又即将在体育馆精彩上演。八项落户我校的省运会赛事，由此在我校陆续展开。广大师生关心省运会、支持省运会的热情，也就随着各项赛事的相继进行而持续升温。

　　任何一个大型运动会的举行，都离不开群众的关心和支持。我市宣传省运会的一系列口号、标语，都在强调全民做好东道主、全民做好服务员、全民做好参与者对于办好省运会的决定性意义。这就表明，要确保省运会圆满成功，必须从内心深处点燃、激发群众的热情，把群众的智慧和力量充分调动起来，聚焦于省运会。事实上，在我市迎接省运会的上千个日日夜夜里，群众的关心和支持一直都在发挥重要的作用，成为推进省运会筹备工作的最大动力和最强后盾。

　　在我校，群众就是指广大师生。自我校获得授权成为省运会的一个赛区以来，广大师生就对办好省运会赛事充满了期待。全校上下衷心希望，办好省运会赛事，一方面可以体现学校服务社会的责任心、使命感，另一方面能够提高学校融入社会的美誉度、影响力。有了这样的认识，广大师生在落实省运会筹备工作的过程中，就有了面对各种考验的勇气和战胜各种困难的决心。于是，参加省运会开闭幕式演出的学生志愿者在酷热的天气中坚持训练，参与省运会其他服务项目的学生志愿者则在各自的岗位上坚守职责。与此同时，学校组建的省运会筹备工作领导小组及其工作组，切实把握省运会赛事的时间节点，严格按照省运会赛区的标准，全力承担起千头万绪的省运会筹备任务。就这样，两千多名学生志愿者和一大批干部职工，在这个盛夏时节，牺牲了休息的时间，放弃了度假的机会，投身到为省运会做贡献的行列。大家以服务意识为灵魂、以奉献精神为核心的一举一动，正是广大师生关心省运会、支持省运会的生动写照，又正是我校作为一个赛区有决心、有能力办好省运会赛事的群众基础。

　　根据赛程安排，在我校举行的省运会赛事要到8月30日才结束。换言之，我校的省运会时间目前才是刚刚开始。俗话说得好：“好的开始，是成功的一半。”既然我们已经以竞技组男子足球比赛为全部赛事赢得了开门红，我们就应该获得足够的信心，力争其他比赛项目也跟竞技组男子足球比赛一样出彩，使其共同成为本届省运会的一个亮点。这就需要广大师生在接下来的时间里，继续保持关心省运会、支持省运会的热情，用这种热情为省运会赛事营造最佳的氛围。
        			</p>
        		</div>
        	</div>
       	</div>
		
		<link rel="stylesheet" href="../statics/css/publicity.css" />
	</body>
</html>
