<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../statics/css/publicityList.css" />
	</head>
	<body>
		<div class="publicity-list" id="list">
        	<div class="list-header">
        		<p id="list-title"></p>
        	</div>
        	<div class="list-content">
        		<table class="list-table" v-if="downloadFalg == 1">
					<tr v-for="r in datas">
                        <td class="publicity-title"><a :href="'home.html?location='+type+'&id='+r.id" target="_blank"><p :title="r.title">{{r.title}}</p></a></td>
                        <td class="publicity-time">{{r.date}}</td>
                    </tr>                      					
				</table>
				<table class="list-table" v-else>                   
                    <tr v-for="r in downloadDatas">
                        <td class="publicity-title"><a :href="r.filePath" target="_blank"><p :title="r.documentTitle">{{r.documentTitle}}</p></a></td>
                        <td class="publicity-time">{{r.updateTime}}</td>
                    </tr>                       
                </table>
        	</div>
        	<div class="list-footer">
        		<div class="page">
        			<button @click="pageto(1)">首页</button>
        			<button v-if="currentNum!=1" @click="pageto(currentNum-1)">上一页</button>
        			<p style="display: inline;">
        				<span id="nowpage">{{currentNum}}</span>/
        				<span id="pagenum">{{totalPageNum}}</span>
        			</p>
        			<button v-if="currentNum!=totalPageNum" @click="pageto(currentNum+1)">下一页</button>
        			<button @click="pageto(totalPageNum)">尾页</button>
        			<button @click="pageto(pagetoNum)">转到</button>
        			<input type="text" id="aimspage" v-model="pagetoNum"/>
        		</div>
        	</div>
       	</div>
       	<script src="../statics/js/vue.js"></script>
		<script type="text/javascript" src="../statics/js/user/publicityList.js" ></script>
	</body>
</html>
