<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="publicity" id="publicity">
        	<div class="publicity-header">
        		<div class="title">
        			<h2>{{datas.title}}</h2>
        		</div>
        		<div class="matter">
        			<p>
        				<span>新闻来源：{{datas.source}}</span>
        				<span>发布时间：{{datas.date}}</span>
        				<span>浏览量：{{datas.click}}次</span>
        			</p>
        		</div>
        	</div>
        	<div class="publicity-content">
        		<div class="details" id="details">
        		</div>
        	</div>
       	</div>
		
		<link rel="stylesheet" href="../statics/css/publicity.css" />
        <script src="../statics/js/vue.js"></script>
        <script type="text/javascript" src="../statics/js/publicity.js"></script>
	</body>
</html>
