<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="record-list" id="list">
        	<div class="list-header">
        		<p>学习记录</p>
        	</div>
        	<div class="list-content">
        		<div class="rp-record">
        			<div class="record-name">
        				<p>思想汇报记录</p>
        			</div>
        			<table>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报第一次思想汇报第一次思想汇报">
        							第一次思想汇报第一次思想汇报第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				
        			</table>
        			<div class="record-page">
        				<p>
        					<a><<上一页</a>
        					<a>下一页>></a>
        				</p>
        			</div>
        		</div>
        		<div class="le-record">
        			<div class="record-name">
        				<p>资料学习记录</p>
        			</div>
        			<table>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报第一次思想汇报第一次思想汇报">
        							第一次思想汇报第一次思想汇报第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        			</table>
        			<div class="record-page">
        				<p>
        					<a><<上一页</a>
        					<a>下一页>></a>
        				</p>
        			</div>
        		</div>
        	</div>
        	<div class="list-footer">
        		<p>总学习时长：100：59：59</p>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/record.css" />
	</body>
</html>
