<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="record-list" id="list">
        	<div class="list-header">
        		<p>学习记录</p>
        	</div>
        	<div class="list-content">
        		<div class="rp-record">
        			<div class="record-name">
        				<p>思想汇报记录</p>
        			</div>
        			<table>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报第一次思想汇报第一次思想汇报">
        							第一次思想汇报第一次思想汇报第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				<tr>
        					<td>
        						<p class="record-title"><a href="#" title="第一次思想汇报">
        							第一次思想汇报
        						</a></p>
        					</td>
        					<td><p>2018-7-12</p></td>
        				</tr>
        				
        			</table>
        			<div class="rp-page">
        				<p>
        					<a><<上一页</a>
        					<a>下一页>></a>
        				</p>
        			</div>
        		</div>
        		<div class="le-record">
        			<div class="record-name">
        				<p>资料学习记录</p>
        			</div>
        			<div class="record-class">
        				<div id="video">
        					<p>视频资料</p>
        				</div>
        				<div id="docu">
        					<p>文档资料</p>
        				</div>
        			</div>
        			<div id="video-record">
        				<table>
        					<tr>
        						<td>
        							<p class="vr-title"><a href="#" title="第一次思想汇报第一次思想汇报第一次思想汇报">
        								第一次思想汇报第一次思想汇报第一次思想汇报
        							</a></p>
        						</td>
        						<td><p style="width: 70px;">2018-7-12</p></td>
        						<td><p style="font-weight: bold;" title="学习进度">50%</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="vr-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        						<td><p title="学习进度">50%</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="vr-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        						<td><p title="学习进度">50%</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="vr-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        						<td><p title="学习进度">50%</p></td>
        					</tr>
        				</table>
        				<div class="le-page">
        					<p>
        						<a><<上一页</a>
        						<a>下一页>></a>
        					</p>
        				</div>
        			</div>
        			<div id="docu-record" style="display: none;">
        				<table>
        					<tr>
        						<td>
        							<p class="record-title"><a href="#" title="第一次思想汇报第一次思想汇报第一次思想汇报">
        								第一次思想汇报第一次思想汇报第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="record-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="record-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="record-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        					</tr>
        					<tr>
        						<td>
        							<p class="record-title"><a href="#" title="第一次思想汇报">
        								第一次思想汇报
        							</a></p>
        						</td>
        						<td><p>2018-7-12</p></td>
        					</tr>
        				</table>
        				<div class="le-page">
        					<p>
        						<a><<上一页</a>
        						<a>下一页>></a>
        					</p>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="list-footer">
        		<p>总学习时长：100：59：59</p>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/record.css" />
       	<script type="text/javascript" src="../statics/js/user/record.js" ></script>
	</body>
</html>
