<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="report">
        	<div class="rp-header">
        		<p id="rp-title"></p>
        	</div>
        	<div class="rp-content">
        		<div class="rp-matter">
        			<p>
        				<span>标题：</span>
        				<input type="text" class="rp-heading" />
        			</p>
        			<p id="type">
        				<span>类型：</span>
        				<select>
        					<option value="1">1</option>
        					<option value="2">2</option>
        					<option value="3">3</option>
        				</select>
        			</p>
        		</div>
        		<div id="summernote"></div>
        	</div>
        	<div class="rp-footer">
        		<button class="rp-btn">提交</button>
        	</div>
       	</div>
		<link rel="stylesheet" href="../statics/dist/summernote.css" />
		<script type="text/javascript" src="../statics/dist/summernote.js" ></script>
		<script type="text/javascript" src="../statics/dist/lang/summernote-zh-CN.js" ></script>
 		<script type="text/javascript" src="../statics/js/user/report.js" ></script>
 		<link rel="stylesheet" href="../statics/css/report.css" />
	</body>
</html>
