<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="test-list">
        	<div class="tl-header">
        		<div class="title">
        			<h2>考试列表</h2>
        		</div>
        	</div>
        	<div class="testing">
        		<table class="testing-table">
        			<tr class="table-title">
        				<td colspan="4">正在进行的考试</td>
        			</tr>
        			<tr class="thead">
        				<td>考试名称</td>
        				<td>考试时间</td>
        				<td>考试状态</td>
        				<td>成绩</td>
        			</tr>
        			<tr class="tbody">
        				<td class="test-title"><a href="#">陈进雄考试陈进雄考试</a></td>
        				<td>07-01至07-20</td>
        				<td>正在进行</td>
        				<td>90</td>
        			</tr>
        			<tr class="tbody">
        				<td class="test-title"><a href="#">陈进雄考试</a></td>
        				<td>07-01至07-20</td>
        				<td>未开始</td>
        				<td>无</td>
        			</tr>
        		</table>
        	</div>
        	<div class="tested">
        		<table class="tested-table">
        			<tr  class="table-title">
        				<td colspan="4">历史考试</td>
        			</tr>
        			<tr class="thead">
        				<td>考试名称</td>
        				<td>考试时间</td>
        				<td>考试状态</td>
        				<td>成绩</td>
        			</tr>
        			<tr class="tbody">
        				<td class="test-title">陈进雄考试</td>
        				<td>07-01至07-20</td>
        				<td>及格</td>
        				<td>90</td>
        			</tr>
        			<tr class="tbody">
        				<td class="test-title">陈进雄考试</td>
        				<td>07-01至07-20</td>
        				<td>不及格</td>
        				<td>无</td>
        			</tr>
        		</table>
        	</div>
       	</div>
       	
       	<link rel="stylesheet" href="../statics/css/tsetList.css" />
	</body>
</html>
