<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css"/>
		<title></title>
	</head>
	<body>
		<div class="panel" id="dvideo">
			<div class="panel-heading">
				<h3 style="width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;">{{dvideo.videoTitle}}</h3>
			</div>
			<div class="panel-body">
				<div style="display: flex;justify-content: center;">
					<video id="my-video" width="60%" height="360" controls="controls" :src="url"></video>
				</div>
				<br /><br />
				<div style="margin-left: 20%;margin-right: 20%" v-html="dvideo.videoIntroduction">
				
			</div>
			<div id="" style="float: right;">
        		<span style="background-color: #878787;" v-if="state == 1" type="button" disabled="true">已学习</span>
        		<button v-else type="button" @click="learned()">学习后请点击</button>
        	</div>
			</div>
		</div>
		<script type="text/javascript" src="../admin-statics/js/lib/jquery/1.9.1/jquery.js" ></script>
		<script type="text/javascript" src="../admin-statics/js/extends/bootstrap/3.3.7/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../statics/js/user/video.js" ></script>
	</body>
</html>
