<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.newsnotices.PublicityListMapper">
  <select id="getNewsHomeListLimit" resultType="com.zqu.pa.vo.newsnotices.HomeList">
    select news_id 'id' , title , date , coverpath
    from news
    where state = 1
    order by date DESC
    limit #{limit}
  </select>
  <select id="getNewsMenuListLimit" resultType="com.zqu.pa.vo.newsnotices.HomeList">
    select news_id 'id' , title , date , coverpath
    from news
    where state = 1
    order by date DESC
    limit #{index},#{num}
  </select>
  <select id="getNoticesHomeListLimit" resultType="com.zqu.pa.vo.newsnotices.HomeList">
    select notices_id 'id' , title , date , coverpath
    from notices
    where state = 1
    and type = #{type}
    order by date DESC
    limit #{limit}
  </select>
  <select id="getNoticesMenuListLimit" resultType="com.zqu.pa.vo.newsnotices.HomeList">
    select notices_id 'id' , title , date , coverpath
    from notices
    where state = 1
    and type = #{type}
    order by date DESC
    limit #{index},#{num}
  </select>
</mapper>