<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.partyactivity.PartyActivityListMapper">
  <select id="getActivityMenuListLimit" resultType="com.zqu.pa.vo.partyactivity.ActivityMenuList">
    SELECT activity_id , name , num , release_unit , create_time , registration_end
    FROM party_activity
    WHERE is_delete != 1
    <if test="branchId != 0">
        AND branch_id = #{branchId}
    </if>
    ORDER BY registration_end DESC
    LIMIT #{index},#{num}
  </select>
  <select id="getActivityRoleList" resultType="Integer">
   SELECT role_id
   FROM party_activity_role
   WHERE activity_id = #{activityId}
  </select>
  <select id="getUserAllApplyInfo" resultType="com.zqu.pa.vo.partyactivity.UserApplyInfo">
    SELECT u.activity_id 'activityId', u.user_id 'userId' , u.phone_num 'phoneNum' , u.check_state 'checkState' , u.submit_time 'submitTime' ,
           a.name, a.is_delete 'isDelete'
    FROM party_activity_user u
    LEFT JOIN party_activity  a ON a.activity_id = u.activity_id
    WHERE u.user_id = #{userId}
    ORDER BY u.submit_time DESC
  </select>
</mapper>