html,
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	/* background-image: url(../img/bodybg.png);
    background-size:100%;
    background-repeat:no-repeat; */
}
.loading{
	z-index: 1002;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
}

header{
	width: 100%;
	height: 200px;
	background-image: url(../img/headbg.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
	/* background-image: url(../img/2.jpg); */
}

a{
	text-decoration:none;
}

/* .name{
	width: 300px;
	height: 45px;
} */

.header{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 1001;
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	margin-bottom: 0 !important;
}

li{
	cursor: pointer;
}

.school{
	color: white;
	padding: 10 50px;
	float: left;
	position: absolute;
	left: 150px;
	height: 50px;
}

.user{
	padding: 0 50px;
	float: right;
}

.user-li,
.nav-li{
	position: relative;
	margin: 0;
	padding: 0;
	display:inline-block;
	text-align: center;
    height: 50px;
}

.nav-li{
	height: 60px;
}

.user-a{
	line-height: 50px;
	height: 100%;
	padding: 20px 10px;
	margin: 0;
}

#manager{
	color: white;
	text-decoration: none;
}

.search{
	position: relative;
	left: 4px;
	outline: none;
	font-size: 15px;
	height: 27px;
	width: 150px;
	line-height: 27px;
	border: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.search-btn{
	outline: none;
	height: 27px;
	line-height: 27px;
	border: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.nav-a{
	position: relative;
	top: -16px;
	height: 100%;
	padding: 0px 30px;
}

.user-li:hover{
	background-color: rgba(255,255,255,0.4);
}

.user-a{
	color: white;
}

.nav{
	position: relative;
	top: 50px;
	width: 100%;
	height: 60px;
}

.nav-ul{
	height: 60px;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.a-span{
	color: black;
	text-align: center;
	position: relative;
	top: -10px;
}

.news,
.test,
.party,
.league,
.info,
.manager,
.meeting,
.organ{
	z-index: 1000;
	background-color: white;
	width: 130px;
	box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
	position: absolute;
	top: 290px;
}

.organ{
	width: 170px;
}

.info{
	z-index: 1001;
	position: fixed;
	top: 50px;
	background-color: white
}

.manager{
	z-index: 1001;
	position: fixed;
	top: 50px;
	background-color: white
}

.news-li,
.test-li,
.party-li,
.league-li,
.info-li,
.meeting-li,
.organ-li{
	padding: 10px 0px 10px 10px;
}

.news-li:hover,
.test-li:hover,
.party-li:hover,
.league-li:hover,
.meeting-li:hover,
.organ-li:hover{
	background-color: #d6d6d6;
}

.info-li:hover{
	background-color: rgba(0,0,0,0.3);
}

.frame{
	position: relative;
	top: 70px;
	width: 1210px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 200px;
	margin-bottom: 50px;
}

.aside{
	z-index: 1005;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.login,
.change{
	width:400px;
 	height:300px;
  	background-color: rgba(255,255,255,0.9);
  	border: 2px #d6d6d6 solid;
  	border-radius: 10px;
  	position: absolute;
}

#content-p{
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 30px;
}

.content-input{
	font-size: 18px;
	box-shadow: inset 0 1px 4px #AAA;
    border: 1px solid #d6d6d6;
    padding-left: 7px;
    border-radius: 5px;
    margin: 10px 95px;
    width: 200px;
    height: 30px;
    position: relative;
    top: 30px;
}

.content-button{
	color: white;
	position: relative;
	top: 50px;
	left: 120px;
	background-color: #37aaea;
	border: 1px solid #37aaea;
	box-shadow: 2px 2px 0 0 #9cb8d8;
	padding: 7px;
	border-radius: 4px;
	width: 70px;
}

.forget{
	cursor: pointer;
	font-size: 10px;
	color: #37aaea;
	position: relative;
	top: 60px;
	left: 250px;
}

.forget:hover{
	color: #145b7d;
}

.message{
	height: 10px;
	width: 10px;
	background-color: red;
	border-radius: 5px;
	position: absolute;
	left: 35px;
	top: 10px;
}

.news-a,
.party-a,
.league-a,
.info-a,
.meeting-a,
.organ-a{
	text-decoration:none;
	color: black;
}
	
.news-a:hover,
.party-a:hover,
.league-a:hover,
.info-a:hover,
.meeting-a:hover,
.organ-a:hover,
#learn-a:hover,
#test-a:hover,
#home-a:hover,
#meeting-a:hover{
	text-decoration:none;
	color: black;
}

.user-a:hover{
	text-decoration:none;
}



/*2018-10-18修改*/
img.name {
    width: 57%;
    height: 80%;
}
header{
    height: 250px;
    border-bottom: 5px solid #e6231d;
}
.header {
    width: 100%;
    height: 60px;
    line-height: 4;
}
html {
    background: #f3f3f3;
}
img.img-logo {
    width: 50%;
    height: 50%;
    /* margin: auto 0; */
    /* line-height: 24; */
    /* margin-top: 72px; */
}
.logopic {
    width: fit-content;
    margin: 0 auto;
    padding-top: 6%;
    display: block;
    text-align: center;
}
.banner-line {
    background: url(../img/footer-bg.png);
    background-size:100%;
    background-repeat:round;
    height: 30px;
    margin-bottom: 35px;
}
footer {
    width: 100%;
    top: 70px;
    backgroud:#fff;
}
div#frame {
    background: #fff;
    box-shadow: 0 3px 2px 2px #e9e9e9;
    padding: 0 50px;
    padding-top: 20px;
    border-top: 2px solid #e9e9e9;
    min-height: 1140px;
}
div#myCarousel {
    width: 55%;
}
div#Learning {
    width: 60%;
}
/*菜单栏*/
i.iconfont {
    /* color: #ef4f00; */
    color:#d92b1f;
    font-size: 3.5em;
}
.nav-li:hover>div>a>p{
    color: #a6150a;
}
.nav-li:hover>div>a>p>i.iconfont {
    color: #a6150a;
}
.nav {
    top: 35px;
}
ul.nav-ul {
    width: 80%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    height: 68px;
}
.nav-li {
    /* height: 68px; */
    height: 96px;
    border-right: 1px solid #ccc;
    /* border-left: 1px solid #ccc; */
    padding: 0px 18px;
}
/* .news, .test, .party, .league, .info, .meeting, .organ {
    position: absolute;
    top: 365px;
    width: 11.5%;
} */
.news, .test, .party, .league, .meeting, .organ {
    position: absolute;
    top: 365px;
    width: 11.5%;
}
.info{
	 position: relative;
	 top:0;
	 
}

.manager{
	 position: relative;
	 top:0;
	 
}

@media screen and (min-width:1400px){
	div#frame {
	   width:1580px;
	}
	div#myCarousel {
    width: 65%;
    }
    .bottom-right {
    width: 75%;
    }
    div#Download {
    width: 31%;
    }
	.nav-li {
	    padding: 0 4%;
	}
	.news, .test, .party, .league, .info,.manager, .meeting, .organ {
    width: 11.5%;
    }
}