fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver
}

legend {
	color: red;
	padding: .5em;
	border: 0;
	width: auto;
	margin-bottom: 10px;
}

.meeting-list{
	position: relative;
	top: 20px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FBFBFB;
	padding: 24px 24px 20px 24px;
    border: 0;
	box-shadow: 2px 0 0 0 #d2d2d2,
	-1px 0 0 0 #d2d2d2,
	0 2px 0 0 #b6b6b6,
	0 3px 0 0 #d2d2d2,
	3px 0 0 0 #e6e6e6,
	-2px 0 0 0 #e6e6e6,
	0 4px 0 0 #e6e6e6,
	0 -1px 0 0 #e6e6e6;
	border-radius: 10px;
}

.ml-header{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

.title h2{
	font-family: kaiti;
	text-align: center;
}

.conduct img{
	position: relative;
	left: 20px;
	margin-bottom: 10px;
}

.conduct a:hover{
	text-decoration: none;
}

#conduct-name{
	position: relative;
	left: 40px;
	font-size: 20px;
	color: black;
}

#conduct-name:hover{
	color: #37aaea;
}

.history{
	margin-top: 50px;
	margin-bottom: 50px;
}

.list-table{
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

.list-table td{
	font-size: 17px;
}

.list-table tr:hover{
	background-color: #F5F5F5;
}

.meeting-title{
	padding: 15px 0px 5px 20px;
}

.meeting-title a{
	font-family: "新宋体";
	color: black;
}

.meeting-title a:hover{
	color: #37aaea;
	text-decoration: none;
}

.meeting-title p{
	width: 700px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.meeting-time{
	padding-right: 20px;
	text-align: center;
}