.report{
	position: relative;
	top: 20px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FBFBFB;
	padding: 24px 24px 20px 24px;
    border: 0;
	box-shadow: 2px 0 0 0 #d2d2d2,
	-1px 0 0 0 #d2d2d2,
	0 2px 0 0 #b6b6b6,
	0 3px 0 0 #d2d2d2,
	3px 0 0 0 #e6e6e6,
	-2px 0 0 0 #e6e6e6,
	0 4px 0 0 #e6e6e6,
	0 -1px 0 0 #e6e6e6;
	border-radius: 4px;
}

.rp-header{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

.rp-title{
	padding: 15px 0px 5px 20px;
}

#rp-title{
	width: 100%;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	font-family: kaiti;
}

.rp-footer{
	background: linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
	border-radius: 0 0 5px 5px;
    border-top: 1px solid #d6d6d6;
    padding: 15px 24px;
    margin: 0 -24px;
    height: 80px;
    position: relative;
    top: 20px;
}

.rp-matter{
	margin-bottom: 20px;
}

.rp-matter span{
	font-size: 17px;
	color: red;
}

.rp-matter input{
	font-size: 17px;
	padding: 0 10px;
	outline: none;
	border: 0;
	width: 500px;
	border-bottom: 1px solid black;
}

.rp-btn{
	margin-left: 450px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	padding: 5px 10px;
	background-color: #09B4FF;
	outline: none;
	border: 0;
	box-shadow: 3px 3px 0 0 #9cb8d8;
	border-radius: 4px;
}

.rp-btn:hover{
	background-color: #0F6C8D;
}
