<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.userlogin.UserDao">
	<select id="getUser" resultType="User">
	   select * from user_login where state = 1 limit 1
	</select>
	<select id="getUserLogin" resultType="User" parameterType="String">
       select * from user_login where state = 1 and user_id = #{userId}
	</select>
	<select id="getRolePermission" resultType="String" parameterType="INT">
		select permission_name
		from role_permission a
		LEFT JOIN permission_menu b ON a.permission = b.permission_id
		where role_id = #{roleId}
	</select>
<!--
 	<select id="getRealName" resultType="String" parameterType="String">
	   select name
	   from user_person_info
	   where user_id = #{userId}
	</select>
	<select id="getPartyBranch" resultType="PartyBranch" parameterType="String">
	   select *
	   from partybranch p
	   LEFT JOIN user_party_info u ON p.branch_id = u.branch_id
	   where u.user_id = #{userId}
	</select> 
-->
	<select id="getUserBasicInfo" resultType="com.zqu.pa.vo.userInfo.UserBasicInfo" parameterType="String">
       select l.user_id 'userId' , u.name 'realName' ,u.branch_id 'branchId', 
               b.branch_name 'branchName', l.role_id 'roleId', r.role_name 'roleName'
       from user_login l
       LEFT JOIN user_party_info u ON l.user_id = u.user_id 
       LEFT JOIN partybranch b ON b.branch_id = u.branch_id
       LEFT JOIN role r ON r.role_id = l.role_id
       where l.user_id = #{userId}
	</select>
</mapper>