.header {
    position: relative;
}
.panel-body {
    margin-top: 0;
}
i.ticon {
    margin-left: 5px;
}
a.btn.btn-success.os.btn-xs {
    padding: 2px 10px;
}
button#btn_delete {
    padding: 1px 9px;
    padding-left: 10px;
}
tbody>tr>td>center {
    font-size: 13px;
}