.clearfix:after {
   content:""; 
   display: block; 
   clear:both; 
}
.header {
    padding: 20px;
    font-size: 22px;
    color: #004d6f;
    font-family: sans-serif;
    font-weight: 800;
    border-bottom-color: #69666685;
    border-bottom: solid 0.5px #69666685;
    background: #fff;
    padding-left: 50px;
    padding-right: 75px;
}
body{
    background: #fff;
    height:100%;
}
img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.op-icon{
    color:#979797;
}
.toolbar {
   /*  margin: 40px 20px 20px 40px; */
    float:right;
}
.content {
    display: grid;
    grid-template-rows: repeat(auto-fit, 139px);
    grid-template-columns: repeat(auto-fit, minmax(195px,1fr));
    grid-column-gap: 35px;
    margin: 50px;
    grid-row-gap: 35px;
    margin-top: 30px;
}