<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqu.pa.dao.study.StudyVideoLabelMapper" >
  <resultMap id="BaseResultMap" type="com.zqu.pa.entity.study.StudyVideoLabel" >
    <constructor >
      <idArg column="orderBy" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="video_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="label_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    orderBy, video_id, label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from study_video_label
    where orderBy = #{orderby,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from study_video_label
    where orderBy = #{orderby,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zqu.pa.entity.study.StudyVideoLabel" >
    insert into study_video_label (orderBy, video_id, label_id
      )
    values (#{orderby,jdbcType=INTEGER}, #{videoId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zqu.pa.entity.study.StudyVideoLabel" >
    insert into study_video_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderby != null" >
        orderBy,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zqu.pa.entity.study.StudyVideoLabel" >
    update study_video_label
    <set >
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=INTEGER},
      </if>
    </set>
    where orderBy = #{orderby,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zqu.pa.entity.study.StudyVideoLabel" >
    update study_video_label
    set video_id = #{videoId,jdbcType=INTEGER},
      label_id = #{labelId,jdbcType=INTEGER}
    where orderBy = #{orderby,jdbcType=INTEGER}
  </update>
</mapper>