<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqu.pa.dao.study.StudyVideoRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zqu.pa.entity.study.StudyVideoRecord" >
    <constructor >
      <arg column="video_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="schedule" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.zqu.pa.entity.study.StudyVideoRecord" >
    insert into study_video_record (video_id, user_id, `schedule`, 
      updatetime)
    values (#{videoId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{schedule,jdbcType=REAL}, 
      now())
  </insert>
  <update id="update" parameterType="com.zqu.pa.entity.study.StudyVideoRecord" >
    UPDATE study_video_record 
    SET `schedule` = #{schedule,jdbcType=REAL},
        updatetime = now()
    WHERE video_id = #{videoId,jdbcType=INTEGER} AND user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <insert id="insertSelective" parameterType="com.zqu.pa.entity.study.StudyVideoRecord" >
    insert into study_video_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="schedule != null" >
        schedule,
      </if>
      updatetime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=REAL},
      </if>
      now(),
    </trim>
  </insert>
</mapper>