<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqu.pa.dao.study.StudyDocumentMapper" >
  <resultMap id="BaseResultMap" type="com.zqu.pa.entity.study.StudyDocument" >
    <constructor >
      <idArg column="document_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="document_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="document_introduction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cover_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="file_path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    document_id, document_title, document_introduction, cover_img, file_path, user_id, 
    createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from study_document
    where document_id = #{documentId,jdbcType=INTEGER}
  </select>
  <select id="selectMustPutonByUserId" resultType="com.zqu.pa.entity.study.StudyDocument" >
    select *
    from study_document
    where document_id IN (select document_id from study_document_must where user_id = #{userId,jdbcType=VARCHAR})
    AND document_id NOT IN (select document_id from study_document_putoff)
    limit #{index},#{num}
  </select>
  <select id="selectStudiedMustByUserId" resultType="com.zqu.pa.entity.study.StudyDocument" >
    select *
    from study_document
    where document_id IN (select document_id from study_document_must where user_id = #{userId,jdbcType=VARCHAR} and already = 1)
    AND document_id NOT IN (select document_id from study_document_putoff)
    limit #{index},#{num}
  </select>
  <select id="selectCountMustPutonByUserId" resultType="int" parameterType="string" >
    select count(1)
    from study_document
    where document_id IN (select document_id from study_document_must where user_id = #{userId,jdbcType=VARCHAR})
    AND document_id NOT IN (select document_id from study_document_putoff)
  </select>
  <select id="selectCountStudiedByUserId" resultType="int" parameterType="string" >
    select count(1)
    from study_document
    where document_id IN (select document_id from study_document_must where user_id = #{userId,jdbcType=VARCHAR} and already = 1)
    AND document_id NOT IN (select document_id from study_document_putoff)
  </select>
  <select id="selectDocumentIdByFilePath" resultType="int" parameterType="string">
    select document_id from study_document
    where file_path = #{filePath,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.zqu.pa.entity.study.StudyDocument">
    select * from study_document order by updatetime desc
  </select>
  <select id="getUserNameByUserId" resultType="string" parameterType="string">
    select `name` from user_party_info where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectPutOn" resultType="com.zqu.pa.entity.study.StudyDocument">
    SELECT * FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff)
    ORDER BY updatetime desc
    limit #{index},#{num}
  </select>
  <select id="selectCountPutOn" resultType="int">
    SELECT count(1) FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff)
    ORDER BY document_id
  </select>
  <select id="selectPutOff" resultType="com.zqu.pa.entity.study.StudyDocument">
    SELECT * FROM study_document
    WHERE document_id IN(SELECT document_id FROM study_document_putoff)
    ORDER BY updatetime desc
  </select>
  <select id="selectPutonByLabelId" resultType="com.zqu.pa.entity.study.StudyDocument" parameterType="map" >
    SELECT * FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff) 
    AND document_id IN (SELECT document_id FROM study_document_label WHERE label_id IN
    <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach> 
    ) ORDER BY updatetime desc
    limit ${index},${num}
  </select>
  <select id="selectCountPutonByLabelId" resultType="int" parameterType="java.util.List" >
    SELECT count(1) FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff) 
    AND document_id IN (SELECT document_id FROM study_document_label WHERE label_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach> 
    ) 
  </select>
  <select id="selectCountMustPutonByLabelId" resultType="int" parameterType="map" >
    SELECT count(1) FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff) 
    AND document_id IN (SELECT document_id FROM study_document_label WHERE label_id IN
    <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach> 
    ) 
    AND document_id IN(SELECT document_id from study_document_must where user_id = ${userId})
  </select>
  <select id="selectMustPutonByLabelId" resultType="com.zqu.pa.entity.study.StudyDocument" parameterType="map" >
    SELECT * FROM study_document
    WHERE document_id NOT IN(SELECT document_id FROM study_document_putoff) 
    AND document_id IN (SELECT document_id FROM study_document_label WHERE label_id IN
    <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach> 
    ) 
    AND document_id IN(SELECT document_id from study_document_must where user_id = ${userId}) 
    ORDER BY updatetime desc
    limit ${index},${num}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from study_document
    where document_id = #{documentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zqu.pa.entity.study.StudyDocument" >
    insert into study_document (document_id, document_title, document_introduction, 
      cover_img, file_path, user_id, 
      createtime, updatetime)
    values (#{documentId,jdbcType=INTEGER}, #{documentTitle,jdbcType=VARCHAR}, #{documentIntroduction,jdbcType=VARCHAR}, 
      #{coverImg,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.zqu.pa.entity.study.StudyDocument" >
    insert into study_document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="documentTitle != null" >
        document_title,
      </if>
      <if test="documentIntroduction != null" >
        document_introduction,
      </if>
      <if test="coverImg != null" >
        cover_img,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="documentTitle != null" >
        #{documentTitle,jdbcType=VARCHAR},
      </if>
      <if test="documentIntroduction != null" >
        #{documentIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null" >
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zqu.pa.entity.study.StudyDocument" >
    update study_document
    <set >
      <if test="documentTitle != null" >
        document_title = #{documentTitle,jdbcType=VARCHAR},
      </if>
      <if test="documentIntroduction != null" >
        document_introduction = #{documentIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="coverImg != null" >
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      updatetime = now(),
    </set>
    where document_id = #{documentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zqu.pa.entity.study.StudyDocument" >
    update study_document
    set document_title = #{documentTitle,jdbcType=VARCHAR},
      document_introduction = #{documentIntroduction,jdbcType=VARCHAR},
      cover_img = #{coverImg,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      updatetime = now()
    where document_id = #{documentId,jdbcType=INTEGER}
  </update>
</mapper>