<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.study.StudyDocumentMustMapper">
	<resultMap id="BaseResultMap"
		type="com.zqu.pa.entity.study.StudyDocumentMust">
		<constructor>
			<arg column="document_id" jdbcType="INTEGER"
				javaType="java.lang.Integer" />
			<arg column="user_id" jdbcType="VARCHAR"
				javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<insert id="insert" parameterType="com.zqu.pa.entity.study.StudyDocumentMust" >
    insert into study_document_must (document_id, user_id)
    values (#{documentId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR})
  </insert>
  <select id="selectDocumentIdByUserId" parameterType="string" resultType="int">
  select document_id from study_document_must where user_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>