<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.perinfo.UserManageMapper">
  <insert id="insertUserLoginInfo" parameterType="com.zqu.pa.vo.userInfo.UserLoginInfo">
    insert into user_login 
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id ,
      </if>
      <if test="password != null">
      password ,
      </if>
      <if test="roleId != 0">
       role_id ,
      </if>
      <if test="state != 0">
      state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR}, 
      </if>
      <if test="roleId != 0">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="state != 0">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="checkBranchByBatch" resultType="String">
    SELECT user_id
    From user_party_info
    WHERE user_id IN
    <foreach collection="userIds" index="index" item="userId" separator="," open="(" close=")">
      #{userId,jdbcType=VARCHAR}
    </foreach>
    AND branch_id = #{branchId,jdbcType=INTEGER}
  </select>
  
  <update id="changeUserState" >
    UPDATE user_login
    SET state = 1 
    WHERE user_id = #{userId} 
    AND state = 0
  </update>
  
  <update id="batchChangeUserState">
    UPDATE user_login
    SET state = 1 
    WHERE user_id IN
    <foreach collection="userIds" index="index" item="userId" separator="," open="(" close=")">
      #{userId,jdbcType=VARCHAR}
    </foreach>
    AND state = 0
  </update>
  
  <update id="updateCheckUserByBatch">
    update user_person_info
    SET
      check_state = 1,
      check_id = #{checkId,jdbcType=VARCHAR}
    where user_id IN
    <foreach collection="userIds" index="index" item="userId" separator="," open="(" close=")">
      #{userId,jdbcType=VARCHAR}
    </foreach>
    AND check_state = 0
  </update>
</mapper>