<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqu.pa.dao.perinfo.UserListMapper">

  <select id="countByBranch" resultType="int">
    select count(*) 
    from user_party_info pa
    LEFT JOIN user_person_info pe ON pa.user_id = pe.user_id
    where pe.check_state = #{checkState}
    <if test="branchId">
        and pa.branch_id = #{branchId}
    </if>
  </select>

  <select id="getUserBasicList" resultType="com.zqu.pa.vo.perinfo.UserList">
    select upa.user_id 'userId' , upa.name 'realName' , upa.sex 'sex', upa.professional 'professional', 
    upa.branch_id 'branchId', 
        b.branch_name 'branchName', l.role_id 'roleId', r.role_name 'roleName'
    from user_party_info upa
    
    <if test="branchId!=0">
        where b.branch_id = #{branchId}
    </if>
    limit #{index},#{num}
  </select>
</mapper>